/* cardStyle.css */
main {
    display: flex;
    flex-wrap: wrap;
}
main > .card {
    text-align: center;
    font-size: 30px;

    height: 200px;
    width: 400px;

    margin: 10px auto;

    transition: 0.3s;

    border-radius: 5px;

    position: relative;

    perspective: 1000px;
}

main > .card > .front, main > .card > .back {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    border: 1px solid black;
    border-radius: 5px;
}
.category {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px; /* Adjust as needed */
    color: #888; /* Optional: Adjust color */
}
