/* cardStyle.css */
main {
    display: flex;
    flex-wrap: wrap;
}

main > .card {
    font-size: 18pt;

    height: 200px;
    width: 400px;

    margin: 10px auto;

    transition: 0.3s;

    border-radius: 5px;

    position: relative;

    perspective: 1000px;
}

main > .card > .front, main > .card > .back {
    display: flex;
    justify-content: center; /* Horizontally center the main content */
    align-items: center; /* Vertically center the main content */

    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    border: 1px solid black;
    border-radius: 5px;

    box-sizing: border-box; /* Include padding in height/width calculation */
}

main > .card > .back {
    background-color: #e6eeff;
}

.category {
    position: absolute;
    top: 10px;
    left: 15px;

    font-size: 14px; /* Adjust as needed */
    color: #888; /* Optional: Adjust color */
}

/* Optional: Ensure text in the .term is centered */
.term {
    text-align: center;
    padding: 0 10px; /* Optional: add some padding for text */
    font-size: .9em; /* Adjust the size relative to the viewport width */

}

